<div id="new-title-form" class="row" style="display:none">
    <form>
        <div class="form-group">
            <label class="control-label">Title</label>
            <input id="new-title" class="form-control" type="text" data-bind="value: newTitle"/>
        </div>
        <div class="form-group">
            <label class="control-label">Author</label>
            <input class="form-control" type="text" data-bind="value: newAuthor" />
        </div>
        <div class="form-group">
            <label class="control-label">Type</label>
            <input class="form-control" type="text" data-bind="value: newType" />
        </div>
        <div class="form-group">            
            <button class="btn btn-success" data-bind="enable: canAddNewTitle, click: addNewTitle">Add</button>
            <button class="btn btn-danger" data-bind="click: cancelAddNewTitle">Cancel</button>
        </div>
    </form>
</div>
<div id="borrower-form" class="row" style="display:none">
    <form>
        <div class="form-group">
            <label class="control-label">Who is borrowing <span class="text-primary" data-bind="text: titleToBorrow"></span></label>
            <input id="proposed-borrower" class="form-control" data-bind="value: proposedBorrower"/>
        </div>
        <div class="form-group">
            <button class="btn btn-success" data-bind="enable: proposedBorrower(), click: borrow">OK</button>
            <button class="btn btn-danger" data-bind="click: function(){ $root.cancelBorrow(); } ">Cancel</button>
        </div>
    </form>
</div>
<div id="display-media" class="row">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th colspan="3">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-bind="click: displayNewTitleForm"><span class="glyphicon glyphicon-plus"></span> New</button>
                            <button type="button" class="btn btn-primary" data-bind="click: save, enable: isDirty"><span class="glyphicon glyphicon-save"></span> Save</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-bind="click: exportData"><span class="glyphicon glyphicon-download"></span> Export</button>
                            <button type="button" class="btn btn-primary" data-bind="click: importData"><span class="glyphicon glyphicon-upload"></span> Import</button>
                        </div>                        
                    </div>
                </th>
                <th colspan="3">
                    Borrowed Items: <span data-bind="text: borrowedItems"></span>
                </th>
            </tr>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Media Type</th>
                <th>Borrowed By</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach:media">
            <tr>
                <td class="text-primary" data-bind="text:title"></td>
                <td data-bind="text:author"></td>
                <td data-bind="text:type"></td>
                <td>
                    <button type="button" class="btn btn-primary" data-bind="click: function(){ $root.displayBorrowForm($data); }, visible: canBorrow"><span class="glyphicon glyphicon-chevron-right"></span> Borrow</button>
                    <button type="button" class="btn btn-success" data-bind="click: unborrow, visible: canUnBorrow"><span class="glyphicon glyphicon-chevron-left"></span> Return</button>
                    <span data-bind="text: borrowedBy"></span>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-bind="click: edit"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                        <button type="button" class="btn btn-danger" data-bind="click: remove"><span class="glyphicon glyphicon-trash"></span> Delete</button>                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript">
    require(['jquery', 'ko', 'app/title-viewmodel', 'app/media-list-viewmodel', 'PubSub'],
        function ($, ko, TitleViewModel, MediaListViewModel, PubSub) {

            $(function () {



            var viewModel = new MediaListViewModel();
            viewModel.display.subscribe(function (newValue) {

                var duration = 400;

                switch (newValue) {
                    case 'borrower-form':
                        $("#display-media").hide(duration);
                        $("#borrower-form").show(duration);
                        break;

                    case 'newTitleForm':
                        $("#display-media").hide(duration);
                        $("#new-title-form").show(duration);
                        break;

                    case 'media':
                        $("#new-title-form").hide(duration);
                        $("#display-media").show(duration);
                        $("#borrower-form").hide(duration);
                        break;
                }
            });

            PubSub.subscribe('unborrow', function (msg, data) {
                viewModel.isDirty(value);
            });

            viewModel.load();

            if (viewModel.media().length === 0) {
                var testData = [
                        { title: "Clean Code", author: "Robert C. Martin", type: "Book", borrowedBy: "Mike" },
                        { title: "The Art of Unit Testing", author: "Roy Osherove", type: "Book", borrowedBy: "Joel" },
                        { title: "Working Effectively With Legacy Code", author: "Michael Feathers", type: "Book", borrowedBy: null },
                        { title: "Head First Design Patterns", author: "Elisabeth Freeman", type: "Book", borrowedBy: "Joel" },
                        { title: "Javascript: The Good Parts", author: "Douglas Crockford", type: "Book", borrowedBy: null },
                        { title: "Apprenticeship Patterns", author: "Dave Hoover", type: "Book", borrowedBy: null },

                        { title: "The Dark Side of the Moon", author: "Pink Floyd", type: "CD", borrowedBy: null },
                        { title: "Star Wars: A New Hope", author: "George Lucas", type: "DVD", borrowedBy: "Marilyn" },
                        { title: "Shane", author: "Jack Schaefer", type: "Book", borrowedBy: null },
                        { title: "Sonic Firestorm", author: "Dragonforce", type: "CD", borrowedBy: "Dave" },
                        { title: "Metal: A Headbanger's Journey", author: "Sam Dunn", type: "DVD", borrowedBy: null },
                    ];

                var media = $.map(testData, function (e) {
                    return new TitleViewModel(e);
                });
                viewModel.media(media);
            }

            ko.applyBindings(viewModel, $("body")[0]);
        });

    });

</script>

